@page
@model BarManagement.Pages.StatsModel
@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    <h1 class="display-4 mb-5">STATISTIQUES</h1>
</div>

@for (int i = 0; i < Model.CocktailsSortedByCategory.Count; i++)
{
    string category = @Model.CocktailsSortedByCategory[i][0].CocktailCategory;
    var imgPath = Model.GetCategoryIconPath(category);
    <div class="text-center" style="margin-top:60px">
        <table class="table">
            <thead>
                <tr>
                    <div style="display: inline-flex">
                        <img src="@Url.Content(imgPath)" width="50" height="50" />
                        <h2>@(category)</h2>
                    </div>
                </tr>
                <tr>
                    <th>
                        Boissons
                    </th>
                    <th>
                        Nombre de verres vendu
                    </th>
                    <th>
                        Bénéfice par verre (€)
                    </th>
                    <th>
                        Bénéfice total (€)
                    </th>
                    <th>
                        Rentabilité (%)
                    </th>
                </tr>
            </thead>
            @{
                var categoryCocktailList = Model.CocktailsSortedByCategory[i];
                (double maxNbSold, double secondMaxNbSold) = Model.FindMaxNbSoldGlassesByCategory(i);
                (double minNbSold, double secondMinNbSOld) = Model.FindMinNbGlassesSoldByCategory(i);
            }
            @for (int j = 0; j < categoryCocktailList.Count; j++)
            {
                Cocktails currentCocktail = Model.CocktailsSortedByCategory[i][j];
                double[] stats = @Model.CurrentCocktailStats(i, j);
                Boolean isGreen = (stats[0] == maxNbSold || stats[0] == secondMaxNbSold);
                Boolean isRed = (stats[0] == minNbSold || stats[0] == secondMinNbSOld);
                if (isGreen)
                {
                    <tbody>
                        <tr style="background-color: rgba(43, 155, 55, 0.4); border-bottom: solid; border-bottom-color: #ddd;">
                            <td>
                                @(currentCocktail.Name)
                            </td>
                            <td>
                                @(stats[0])
                            </td>
                            <td>
                                @(stats[1])
                            </td>
                            <td>
                                @(stats[2])
                            </td>
                            <td>
                                @(stats[3])
                            </td>
                        </tr>
                    </tbody>
                }
                else if (isRed)
                {
                    <tbody>
                        <tr style="background-color: rgba(162, 25, 25, 0.4); border-bottom: solid; border-bottom-color: #ddd;">
                            <td>
                                @(currentCocktail.Name)
                            </td>
                            <td>
                                @(stats[0])
                            </td>
                            <td>
                                @(stats[1])
                            </td>
                            <td>
                                @(stats[2])
                            </td>
                            <td>
                                @(stats[3])
                            </td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td>
                                @(currentCocktail.Name)
                            </td>
                            <td>
                                @(stats[0])
                            </td>
                            <td>
                                @(stats[1])
                            </td>
                            <td>
                                @(stats[2])
                            </td>
                            <td>
                                @(stats[3])
                            </td>
                        </tr>
                    </tbody>
                }
            }

        </table>
    </div>
}

<div class="text-center mb-5" style="margin-top:100px">
    <h1 class="display-4 mb-2">TOTAL DES BENEFICES</h1>
    <div class="mb-2" style="display: flex">
        <img style="margin: auto; max-width: 50px" src="https://images.vexels.com/media/users/3/143188/isolated/preview/5f44f3160a09b51b4fa4634ecdff62dd-money-icon-by-vexels.png" alt="money" />
        @if (Model.bigTotalEarnings < 0)
        {
            <h1 style="color: red; font-size: 100px; margin: auto">@Model.GetBigTotalEarnings() €</h1>
        }
        @if (Model.bigTotalEarnings >= 0)
        {
            <h1 style="color: green; font-size: 100px; margin: auto">@Model.GetBigTotalEarnings() €</h1>
        }
    </div>
</div>
