@page
@model BarManagement.Pages.CocktailsModel
@{
    ViewData["Title"] = "Cocktails";
}
@using Microsoft.AspNetCore.Http;


<div class="text-center">
    <h1 class="display-4">GESTION DE LA CARTE</h1>
</div>
<div class="text-center">
    <h1>AJOUT D'UNE RECETTE</h1>
    <form method="post">
        <label>Nom</label>
        <input asp-for="FormCocktail.NAME" />
        <label>Prix de vente</label>
        <input asp-for="FormCocktail.PRICE" />
        @if (Model.Compositions != null)
        {
            for (int i = 0; i < Model.Compositions.Count; i++)
            {
                <input asp-for="@i" type="hidden" />
                <div class="form-group">
                    <label>Boisson</label>
                    <select name="drinkSelected_@i" asp-items="Model.DrinksOptions"></select>
                    <label>Quantité (cl)</label>
                    <input type="text" class="form-control" asp-for="Compositions[i].Quantity" placeholder="Enter quantity">
                    <span asp-validation-for="Compositions[i].Quantity"></span>
                </div>

                <button type="submit" asp-page-handler="remove" asp-route-index="@i">Suppression de cet ingredient</button>
            }
        }
        <button type="submit" asp-page-handler="add">Ajout d'ingredient</button>
        <input asp-page-handler="Cocktails" type="submit" value="Création du cocktail">
    </form>
</div>

@if (Model.Cocktails != null && Model.Cocktails.Count > 0)
{
    <div class="text-center">
        <h2>COCKTAILS</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cocktails.ElementAt(0).Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cocktails.ElementAt(0).PriceToSell)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cocktails.ElementAt(0).CocktailCategory)
                    </th>
                    <th>
                        ACTIONS
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cocktails)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceToSell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CocktailCategory)
                    </td>
                    <td>
                        <form method="post">
                            <label>Nom</label>
                            <input asp-for="FormCocktail.NAME" />
                            <label>Prix de vente</label>
                            <input asp-for="FormCocktail.PRICE" />
                            <input asp-page-handler="UpdateCocktail" asp-route-id="@item.Id" type="submit" value="Update Cocktail">
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <input asp-page-handler="RemoveCocktail" asp-route-id="@item.Id" type="submit" value="X">
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}