@page
@model BarManagement.Pages.CocktailsModel
@{
    ViewData["Title"] = "Cocktails";
}
@using Microsoft.AspNetCore.Http;


<div class="text-center">
    <h1 class="display-4 mb-5">GESTION DE LA CARTE</h1>
</div>
<div class="container mb-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Nouvelle recette</h1>
            <form method="post">
                <div class="form-group">
                    <label>Nom</label>
                    <input class="form-control" asp-for="FormCocktail.NAME" />
                </div>
                <div class="form-group">
                    <label>Prix de vente</label>
                    <input class="form-control" asp-for="FormCocktail.PRICE" />
                </div>
                @if (Model.Compositions != null)
                {
                    for (int i = 0; i < Model.Compositions.Count; i++)
                    {
            <div class="form-inline mb-3">
                <input asp-for="@i" type="hidden" />
                <div class="form-group">
                    <select class="form-control" name="drinkSelected_@i" asp-items="Model.DrinksOptions"></select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Compositions[i].Quantity" placeholder="Quantité (cl)">
                    <span asp-validation-for="Compositions[i].Quantity"></span>
                </div>
                <button type="submit" asp-page-handler="remove" asp-route-index="@i" class="btn btn-danger">X</button>
            </div>
                    }
                }
                <button type="submit" asp-page-handler="add" class="btn btn-info">Ajout d'ingredient</button>
                <button asp-page-handler="Cocktails" type="submit" class="btn btn-primary">Création du cocktail</button>
            </form>
        </div>
    </div>
</div>
@if (Model.Cocktails != null && Model.Cocktails.Count > 0)
{
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Cocktails</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nom                           
                        </th>
                        <th>
                            Prix de vente
                        </th>
                        <th>
                            Catégorie
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cocktails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PriceToSell)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CocktailCategory)
                            </td>
                            <td>
                                <form method="post">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input class="form-control" asp-for="FormCocktail.NAME" />
                                    </div>
                                    <div class="form-group">
                                        <label>Prix de vente</label>
                                        <input class="form-control" asp-for="FormCocktail.PRICE" />
                                    </div>
                                    <button class="btn btn-warning" asp-page-handler="UpdateCocktail" asp-route-id="@item.Id" type="submit">Modifier</button>
                                </form>
                            </td>
                            <td>
                                <form method="post">
                                    <button asp-page-handler="RemoveCocktail" asp-route-id="@item.Id" type="submit" class="btn btn-danger">X</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}