@page
@model BarManagement.Pages.StatsModel
@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    <h1 class="display-4">STATISTIQUES</h1>
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Boissons
                </th>
                <th>
                    Nombre de verres vendu
                </th>
                <th>
                    Bénéfice par verre (€)
                </th>
                <th>
                    Bénéfice total (€)
                </th>
                <th>
                    Rentabilité (%)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Cocktails.Count; i++)
            {
                double[] stats = @Model.CurrentCocktailStats(i);
                <tr>
                    <td>
                        @Model.Cocktails[i].Name
                    </td>
                    <td>
                        @(stats[0])
                    </td>
                    <td>
                        @(stats[1])
                    </td>
                    <td>
                        @(stats[2])
                    </td>
                    <td>
                        @(stats[3])
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

