@page
@model BarManagement.Pages.StocksModel
@{
    ViewData["Title"] = "Stocks";
}

<div class="text-center">
    <h1 class="display-4">GESTION DU STOCK</h1>
</div>
<div class="text-center">
    <h1>AJOUT D'UNE BOISSON</h1>
    <form method="post">
        <input asp-for="FormDrink.NAME" />
        <input asp-for="FormDrink.BRAND" />
        <input asp-for="FormDrink.CATEGORY" />
        <input asp-page-handler="Drinks" type="submit" value="Create drink">
    </form>
</div>
<div class="text-center">
    <h1>AJOUT D'UN STOCK DE BOISSON</h1>
    <form method="post">
        <select name="drinkSelected" asp-items="Model.DrinksOptions"></select>
        <input asp-for="FormStock.QUANTITY" />
        <input asp-for="FormStock.PRICE" />
        <input asp-page-handler="Stocks" type="submit" value="Create Stock">
    </form>
</div>
@if (Model.Stocks != null && Model.Stocks.Count > 0)
{
    <div class="text-center">
        <h2>STOCK</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Stocks.ElementAt(0).Drink.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stocks.ElementAt(0).Drink.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stocks.ElementAt(0).Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stocks.ElementAt(0).Price)
                    </th>
                    <th>
                        ACTIONS
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stocks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drink.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drink.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <form method="post">
                                <input asp-for="FormStock.QUANTITY" />
                                <input asp-for="FormStock.PRICE" />
                                <input asp-page-handler="UpdateStock" asp-route-id="@item.Id" type="submit" value="Update Stock">
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                <input asp-page-handler="RemoveStock" asp-route-id="@item.Id" type="submit" value="X">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Drinks != null && Model.Drinks.Count > 0)
{
    <div class="text-center">
        <h2>LISTE DES BOISSONS</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Drinks.ElementAt(0).Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drinks.ElementAt(0).Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drinks.ElementAt(0).Brand)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Drinks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            <form method="post">
                                <input asp-page-handler="RemoveDrink" asp-route-id="@item.Id" type="submit" value="X">
                            </form>
                            @if (!Model.isDelete)
                            {
                                <p>Attention, suppression impossible : il existe un stock de cette boisson.</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

