@page
@model BarManagement.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}
<div class="text-center mb-5">
    <h1 class="display-4 mb-2">CAISSE</h1>
    <div class="mb-2" style="display: flex">
        <img style="margin: auto; max-width: 50px" src="https://images.vexels.com/media/users/3/143188/isolated/preview/5f44f3160a09b51b4fa4634ecdff62dd-money-icon-by-vexels.png" alt="money" />
        @if (Model.currentMoney < 0)
        {
            <h1 style="color: red; font-size: 100px; margin: auto">@Model.currentMoney €</h1>
        }
        @if (Model.currentMoney >= 0)
        {
            <h1 style="color: green; font-size: 100px; margin: auto">@Model.currentMoney €</h1>
        }
    </div>
</div>
<div class="text-center mb-5">
    <form method="post" style="display: inline">
        <input class="form-control" asp-for="FormBalance.BALANCE" />
        <button class="btn btn-success" asp-page-handler="Transactions" type="submit">Ajout d'un fond de caisse</button>
    </form>
</div>
@if (Model.Transactions != null && Model.Transactions.Count > 0)
{
    <div class="text-center">
        <h1 class="display-4 mb-5">TRANSACTIONS</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).SellDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions.ElementAt(0).Value) €
                    </th>
                    <th>
                        Type de transaction
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Transactions.Count; i++)
                {
                    var currentIndex = Model.Transactions.Count - 1 - i;
                    @if (Model.Transactions[currentIndex].Value > 0.0)
                    {
                        <tr style="background-color: rgba(43, 155, 55, 0.4); border-bottom: solid; border-bottom-color: #ddd;">
                            <td>
                                @Html.DisplayFor(modelItem => Model.Transactions[currentIndex].SellDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Transactions[currentIndex].Value)
                            </td>
                            <td>
                                Vente de @Html.DisplayFor(modelItem => Model.Cocktails.Find(element => element.Id == Model.Transactions[currentIndex].CocktailId).Name)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color: rgba(162, 25, 25, 0.4); border-bottom: solid; border-bottom-color: #ddd;">
                            <td>
                                @Html.DisplayFor(modelItem => Model.Transactions[currentIndex].SellDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Transactions[currentIndex].Value)
                            </td>
                            <td>
                                Achat ou perte
                            </td>
                        </tr>
                    }
                }
                @foreach (var item in Model.Transactions)
                {


                }
            </tbody>
        </table>
    </div>
}
